@using AppReportes.Clases;
@model IEnumerable<EspecialidadCLS>
@{
    ViewData["Title"] = "Index";
    string nombreEspecialidad = ViewBag.NombreEspecialidad;
}

<a class="btn btn-secondary" asp-controller="Especialidad" asp-action="Agregar">
    <strong>Agregar</strong>
</a>
<input type="button" value="Exportar Excel" class=" btn btn-success" 
       onclick="ExportarExcel()"/>
<input type="button" value="Exportar PDF" class=" btn btn-danger" 
       onclick="ExportarPdf('Especialidad')"/>
<input type="button" value="Exportar Word" class=" btn btn-primary" 
       onclick="ExportarWord()"/>
<input type="button" value="Imprimir" class=" btn btn-secondary" 
       onclick="Imprimir()" />
<br />
<form asp-controller="Especialidad" asp-action="Index" method="post" class=" mb-2"
      style="display:grid; grid-template-columns:1fr 1fr 1fr 1fr" id="frmFormulario">
    @*Filtro*@
    <label>Ingrese nombre de especialidad</label>
    <input type="text" id="nombre" class="form form-control" name="Nombre" value="@nombreEspecialidad" />
    <input type="submit" value="Buscar" class="btn btn-info" />
    <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()" />
</form>

<form asp-controller="Especialidad" asp-action="Exportar" id="frmReporte">
    <table class="table" id="table">       
        @*<a asp-action="ExportarExcel" asp-controller="Especialidad">Exportar Excel</a>*@
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(x => x.IdEspecialidad)</th>
                <th>@Html.DisplayNameFor(x => x.Nombre)</th>
                <th>@Html.DisplayNameFor(x => x.Descripcion)</th>
            </tr>
            <tr id="tcheck">
                <th>
                    <input type="checkbox" name="nombreProp" value="IdEspecialidad" />
                    <input type="hidden" name="tipoReporte" id="tipoReporte"/>
                </th>
                <th>
                <input type="checkbox" name="nombreProp" value="Nombre" />
                </th>
                <th>
                <input type="checkbox" name="nombreProp" value="Descripcion" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (EspecialidadCLS oEspecialidad in Model)
            {
                <tr>
                    <td>@oEspecialidad.IdEspecialidad</td>
                    <td>@oEspecialidad.Nombre</td>
                    <td>@oEspecialidad.Descripcion</td>
                </tr>
            }
        </tbody>
    </table>
</form>

<script src="~/js/generic.js"></script>
<script src="~/js/sweetalert.js"></script>

<script>    
    function Limpiar() {
        document.getElementById("nombre").value = "";
        document.getElementById("frmFormulario").submit();
    }  
</script>

