@model IEnumerable<AppReportes.Clases.PaginaCLS>
@using AppReportes.Clases;

@{
    ViewData["Title"] = "Index";
    string mensaje = ViewBag.Mensaje;
}

    <form asp-controller="Pagina" asp-action="Index" method="post" class=" mb-2"
          style="display:grid; grid-template-columns:1fr 1fr 1fr 1fr" id="frmFormulario">
        @*Filtro*@
        <label>Ingrese mensaje</label>
        <input type="text" id="MensajeDatos" class="form form-control" name="Mensaje" 
               value="@mensaje" />
        <input type="submit" value="Buscar" class="btn btn-info" />
        <input type="button" value="Limpiar" class="btn btn-danger" onclick="Limpiar()" />
    </form>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPagina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mensaje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Controlador)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPagina)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mensaje)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Accion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Controlador)
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function Limpiar() {
        document.getElementById("MensajeDatos").value = "";
        document.getElementById("frmFormulario").submit();
    }
</script>
