@model IEnumerable<AppReportes.Clases.TipoUsuarioCLS>

@{
    ViewData["Title"] = "Index";
    string nombre = ViewBag.Nombre;
    string descripcion = ViewBag.Descripcion;
    int idUser = ViewBag.IdTipoUser;
}

<form asp-controller="TipoUsuario" asp-action="Index">
    <input type="submit" value="Enviar" class="btn btn-primary" />
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.IdTipoUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th><strong>Operaciones</strong></th>
            </tr>
            <tr>
                <th>
                    @if (idUser == 0)
                    {
                        <input type="number" name="IdTipoUser" class="form form-control" />
                    }
                    else
                    {
                        <input type="number" name="IdTipoUser" value="@idUser"
                               class="form form-control" />
                    }
                </th>
                <th>
                    <input type="text" name="Nombre" value="@nombre" class="form form-control" />
                </th>
                <th>
                    <input type="text" name="Descripcion" value="@descripcion" class="form form-control" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTipoUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        <i class="fa fa-trash btn btn-danger" aria-hidden="true"
                           onclick="EliminarTipoUsuario(@item.IdTipoUser)">
                        </i>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>

<form asp-action="Eliminar" asp-controller="TipoUsuario" method="post" id="frmEliminarUsuario">
    <input type="hidden" id="txtTipoUsuario" name="TipoUsuario" />
</form>

<script src="~/js/generic.js"></script>
<script src="~/js/sweetalert.js"></script>

<script>
    //Eliminación física
    function EliminarTipoUsuario(TipoUsuario) {
        document.getElementById("txtTipoUsuario").value = TipoUsuario;
        mostrarModal().then(res => {
            if (res.value) {
                var frmEliminarUsuario = document.getElementById("frmEliminarUsuario");
                frmEliminarUsuario.submit();
            }
        })
    }
</script>
